<h1>Flight Info for: <%= @flight.number %></h1>
<p><%= @flight.airline.name %></p>
  <br>
<p>Flight Date: <%= @flight.date %></p>
<p>Flight Time: <%= @flight.time %></p>
<p>Departing from: <%= @flight.departure_city %></p>
<p>Arriving to: <%= @flight.arrival_city %></p>

<h2>Passengers</h2>
<ul>
  <% @flight.passengers.each do |passenger| %>
    <li><%= passenger.name %></li>
  <% end %>
</ul>
  <br>

<p>Adults: <%= @flight.adult_passengers %></p>
<p>Minors: <%= @flight.minor_passengers %></p>
